<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Привет, {{ name }}!</h1>
    <div>
        <p>Если вы получили это сообщение, то вы оставили анкету на tundra-school.ru и записались на курс "{{ program }}".</p>
        <p>Квитанция об оплате и пароль для личного кабинета будут доступны с началом занятий в сентябре. Они придут на эту же почту.</p>
        <p>
            Перед началом обучения мы также попросим вас заполнить анкету о себе:
            <br>
            <a href="https://forms.gle/BXSQyDH1zizQKqTt8">https://forms.gle/BXSQyDH1zizQKqTt8</a>
        </p>
        <p>С уважением, Tundra School.</p>
    </div>
</body>
</html>