* {
	padding: 0;
	margin: 0;
	font-family: Ubuntu, sans-serif;
}

body, html {
	overflow-x: hidden;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#9CCBF9)) fixed; */
	background: #f0f0f3;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-header {
	font-size: 32px;
	display: flex;
	justify-content: center;
}

.nl-h-all {
	display: flex;
	flex-direction: row;
	border: 4px solid black;
	border-top: 0;
	border-radius: 0 0 30px 30px;
}

.logo-header a {
	padding: 18px 25px;
	font-family: Philosopher, sans-serif!important;
	text-decoration: none;
	color: #ffffff;
	background: #000000;
	border-radius: 0 0 0 26px;
}

.nl-lk {
	padding-top: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

.not-logged-header {
	display: flex;
	justify-content: center;
	margin-left: 50px;
	margin-top: 50px;
	padding-top: 20px;
	font-size: 28px;
	font-family: Philosopher, sans-serif!important;

}

.not-logged-recommendation {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 20px;
}

.neu-box {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
	height: 50%;
	border-radius: 50px;
	background-color: #f0f0f3;
	box-shadow: 10px 10px 21px #d3d3d6,
				-10px -10px 12px #FFFFFF;
}

.nlr-line {
	margin-left: 25px;
	width: 90%;
	text-align: left;
}

#nlr-line-b {
	margin-top: 15px;
	margin-bottom: 25px;
}
.nlr-line a {
	text-decoration: none;
	color: darkred;
}

.nlr-line a:hover {
	color: coral;
}

.nl-line {
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
	border: .5px solid black;
	display: flex;
	justify-content: center;
	text-align: center;
	align-self: center;
}

@media screen and (max-width: 550px) {
	.logo-header {
		font-size: 24px;
		display: block;
	}

	.nl-h-all {
		border-right: 0;
		border-radius: 0;
	}

	.logo-header a {
		border-radius: 0;
	}

	.neu-box {
		margin-left: 10%;
		margin-right: 10%;
	}
}

/*
css if logged
*/

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 8%;
	margin-right: 8%;
}

.right-all {
	display: flex;
	flex-direction: row;
}

.right-logout {
	width: 65px;
}

.quit-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
	background: darkred;
	border-radius: 0 0 10px 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	transition: background .3s linear;
}

.logout-link {
	display:inline-block;
	color: white;
	text-decoration: none;
    height:100%;
}

.quit-button a {
	text-decoration: none;
	color: #FFFFFF;
}


.quit-button:hover {
	background: coral;
}

.quit-button .logout-link:hover {
	color: #000000;
}



.logo-head {
	display: flex;
	justify-content: center;
	border: 4px solid #000000;
	border-top: 0;
	border-radius: 0 0 30px 30px;
}

.logo-head a {
	padding: 18px 25px;
	font-size: 26px;
	font-family: Philosopher, sans-serif!important;
	text-decoration: none;
	color: #ffffff;
	background: #000000;
	border-radius: 0 0 0 26px;
}

.logout-link {
	margin-left: 0;
}

.lk-label {
	font-size: 26px;
	font-family: Philosopher, sans-serif;
	margin: 18px 15px 0 15px;
}

@media screen and (max-width: 700px) {
	header {
		justify-content: space-between;
		margin: 0;
	}

	.logo-head {
		border-radius: 0 0 30px 0;
		border-left: 0;
		margin-right: 10px;
	}

	.logo-head a {
		border-radius: 0;
	}

	.right-logout {
		justify-content: flex-end;
		transform: translateX(-60px);
	}
}

@media screen and (max-width: 550px) {
	.quit-button {
		border-radius: 0;
		padding-left: 10px;
	}

	.right-logout {
		transform: translateX(-45px);
	}

	.logo-head a {
		padding-right: 15px;
		padding-left: 15px;
	}
}


.content {
	margin-left: 10%;
	margin-top: 50px;
}

.course-label {
	font-family: Philosopher, sans-serif;
	font-size: 30px;
}

.courses-list {
	list-style: none;
}

.course-item {
	margin-top: 70px;
}
/*
.course-item a {
	height: 100px;
}
*/

.course-item input {
	font-size: 26px;
	height: 200px;
	width: 340px;
	padding-right: 100px;
	padding-bottom: 100px;
	border: 0;
	border-radius: 50px;
	background-color: #f0f0f3;
	box-shadow: 10px 10px 21px #bebec2,
				-10px -10px 12px #FFFFFF;
	transition: all 2s linear;
}

.course-item input:hover {
	cursor: pointer;
	box-shadow: inset -10px -10px 21px rgba(255, 255, 255, 1),
        inset -10px -10px 21px rgba(255, 255, 255, 0.5),
        inset 10px 10px 21px rgba(255, 255, 255, 0.1),
        inset 10px 10px 21px rgba(0, 0, 0, 0.15);
}
.course-link {
	text-decoration: none;
}

footer {
	margin-top: auto;
}

